= form_with(model: shop, url: shop) do |form|
  - if shop.errors.any?
    %div{ style: 'color: red' }
      %h2
        = pluralize(shop.errors.count, 'error')
        prohibited this shop from being saved:
      %ul
        - shop.errors.each do |error|
          %li= error.full_message
  %div
    = form.label 'Shop Name', style: 'display: block'
    = form.text_field :shop
  %div
    = form.submit
